html {
    scroll-behavior: smooth;
}
.fontforall{
    font-family: 'Lacquer', sans-serif;
    font-size: 2rem;
    text-align: center;
}

div.fontforall {
    font-size: 0.7em;
}

.bgcolor {
    background-color: lavender;
}

.jiset {
    color: purple;
    padding: 3rem;
    background-color: lavender;
}

.myownlogo {
    width: 25%;
    padding: 1rem;
    background-color: lavender;
    image-rendering: smooth;
}

.littlepadding {
    padding-top: 100px;
}


.footerstyle {
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;
}